* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #eee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  text-align: center;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 300;
  font-size: 2.5rem;
}

footer {
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em 2em;
  background-color: #f5ba13;
}

footer p {
  color: #fff;
}

.notes-container {
  display: grid;
  padding: 2em 1em;
  margin: 2em 0;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.note {
  display: inline;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.btnDelete {
  margin-left: 180px;
}

/* Input Form */

form {
  position: relative;
  width: 480px;
  margin: 30px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -23px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  font-size: 2rem;
}

form button:hover {
  background-color: #e2ab13;
}

/* Tablet Media query */

@media only screen and (max-width: 900px) {
  form {
    width: 480px;
    padding: 10px;
  }

  form button {
    width: 46px;
    height: 46px;
  }
}

/* Mobile View */

@media only screen and (max-width: 35em) {
  form {
    width: 280px;
    padding: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  form button {
    width: 36px;
    height: 36px;
    font-size: 1.5rem;
  }
}
